<launch>

    <!-- Motion control -->
    <include
        file="$(find nomad)/config/ackermann.xml"
        />

    <!-- Pose calculation
    <include
        file="$(find nomad)/config/poseCalculator.xml"
        />
    -->

    <!-- Transformations -->
    <include 
        file="$(find nomad)/config/transformations.xml"
        /> 

    <!-- LiDAR -->
    <include 
        file="$(find nomad)/config/sensors.xml"
        /> 

    <!-- SLAM -->
    <include 
        file="$(find nomad)/config/localization-slam.xml"
        /> 

    <!-- Path planning -->
    <include 
        file="$(find nomad)/config/move_base.xml"
        /> 

    <!-- OCR
    <node
	name="image_subscriber_node"
	pkg="image_subscriber"
	type="image_subscriber_node"
	respawn="true"
	/>   
    -->

</launch>
